.keys-help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion-main-heading {
  font-family: Bree Serif;
  font-size: 40px;
  color: #4f5db0;
  text-align: center;
}

.suggestions-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100vw;
}

.keys-to-happy-container {
  background-image: linear-gradient(to bottom, #e7f073, #91ccdb);
  border-radius: 10px;
  width: 400px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin: 25px;
}

.suggestion-heading {
  color: #ffffff;
  font-family: Bree Serif;
  font-size: 35px;
  font-weight: 500;
}

.suggestion-description {
  font-size: 20px;
  color: #0f172a;
  font-family: Roboto;
}

.some-requires {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .suggestion-heading {
    font-size: 25px;
  }
  .suggestion-description {
    font-size: 15px;
  }
  .suggestion-main-heading {
    font-size: 35px;
  }
}
