.app-home-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.our-parents-image {
  height: 50vh;
  background-size: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.our-aim-to-deliver {
  font-size: 30px;
  font-weight: 500;
  color: #e6bc6e;
  text-align: center;
}

.what-we-do {
  list-style-type: none;
  display: flex;
}

.home-our-features {
  background-color: #f0ebe1;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.home-feature-image {
  height: 150px;
  background-size: cover;
}

.home-our-features-content {
  font-family: Roboto;
  font-size: 15px;
  color: #9e9c98;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-more {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.get-details {
  background-color: #037ffc;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0;
  padding: 10px;
}

.old-age-people-treatment-container {
  background-image: linear-gradient(to bottom, #fcd303, #73726f);
  border-color: #ffffff;
  border-width: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
}

.our-new-feature {
  color: #ffffff;
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .app-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .our-parents-image {
    height: 200px;
    background-size: cover;
  }
  .our-aim-to-deliver {
    font-size: 20px;
  }
  .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-our-features {
    margin-bottom: 20px;
  }
  .our-new-feature {
    font-size: 20px;
  }
}
